---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const displayPosts = posts.slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>&#128034; Hello, Bots!</h1>

			<h4 class="heading-padding">Who am I?</h4>
			<p>
				You know those genius level programmers? Yea thats not me. Good for them 
				they make cool stuff we can all use but I'm the opposite, this stuff is difficult.
			</p>

			<h4 >What is this site?</h4>
			<p>
				This 'blog' if you can call it that is just somewhere to store problems and issues I've come across and found ways
				to solve for future reference, as well as somewhere to put notes of things I'm currently looking at and exploring.
			</p>
			<p>
				Is this the default Astro blog template? Why yes it is, maybe in the future this will be tweaked
				but for now the requirement is just somewhere to store some notes that can be accessed from anywhere.
			</p>

			<h4>Projects</h4>
			<p>
				If I remember to keep the page updated some projects and tinkerings will be over on the <a href="/projects">projects page</a>.
				These are just some things that I find interesting to work on in my own time, normally fragmented peices of code that are interesting 
				to me at that point.
			</p>

			<h4>Why are you here?</h4>
			<p>
				I'm not sure why your on this site, why your reading this page or why you've read this far 
				but hi and if you want to chat I will leave a link somewhere to get in contact.
			</p>

			<div>
				<h4 class="heading-padding">Latest Musings</h4>
					{
						displayPosts.map((post) => (
							<div>
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
								</a>
							</div>
						))
					}
			</div>
		</main>
		<Footer />
	</body>
</html>
